* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0px;
    padding: 76px 0px 0px;
    font-family: 'Antic';
    width: 100%;
}

@media (max-width: 425px) {
    body {
        padding-top: 64px;
    }
}

a {
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, border 0.2s;
}

/* Navigation */
.nav {
    display: inline-block;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    background-color: #0782c8;
    z-index: 1;
}

.nav a {
    display: inline-block;
    float: left;
    width: 80px;
    font-size: 18px;
    padding: 15px 0px;
    text-align: center;
    transition: none;
}

.nav a:link, .nav a:visited {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    background-color: rgba(0, 0, 0, 0.16);
}

.nav a.active {
    background-color: white;
    color: grey;
}

.nav a .icon {
    display: block;
    font-size: 24px;
}

@media (max-width: 425px) {
    .nav a {
        width: 33.3%;
        padding: 9px 0px;
    }
}

/* timestamp */
.timestamp {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    z-index: 2;
}

@media (max-width: 425px) {
    .timestamp {
        top: 68px;
        color: grey;
        z-index: 0;
    }
}

/* Pages */
.homepage, .convert_page, .list_page {
    padding: 25px;
    text-align: center;
}

.convert_page, .list_page {
    display: none;
}

/* Homepage */
.link {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin: 30px 5%;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.180);
}

.link:nth-child(1) {
    margin-left: 0px;
}

.link:nth-child(2) {
    margin-right: 0px;
}

.link .icon {
    font-size: 80px;
    color: #0782c8;
}

.link:link, .link:visited {
    text-decoration: none;
    color: black;
}

.link:hover {
    border-color: rgba(0, 0, 0, 0.400);
}


@media (max-width: 1024px) {
    .link {
        width: 70%;
        margin: 20px auto;
    }

}

@media (max-width: 425px) {
    .link {
        width: 90%;
        margin: 15px auto;
        padding: 15px 30px;
    }
}

/* Convert page */
.convert_page h2 {
    margin-top: 0px;
}

.convert_page h3 {
    position: absolute;
    width: 100%;
    top: 0px;
    margin: 0px;
    padding: 6px 0px;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.115);
    border-radius: 2px 2px 0px 0px;
}

.convert_page .icon {
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 20px;
    color: grey;
}

.select, .calculate {
    position: relative;
    text-align: center;
    width: 80%;
    margin: 25px auto;
    padding: 40px 0px 0px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.180);
    border-radius: 3px;
}

.calculate {
    margin-top: 50px;
    padding-bottom: 30px;
}

.input1, .input2, .list1, .list2 {
    font-size: 20px;
    font-family: 'Antic';
    margin: 60px 50px;
    padding: 5px 0px;
    border: 1px solid rgba(0, 0, 0, 0.180);
    border-radius: 5px;
}

.input1, .input2 {
    text-align: right;
    padding-right: 10px;
    width: 20%;
}

.list1, .list2 {
    width: 25%;
}

.swap {
    display: inline-block;
    font-size: 24px;
    padding: 0px 6px 2px;
    border-radius: 25px;
}

.swap:link, .swap:visited {
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.115);
    color: #0782c8;
}

.swap:hover {
    color: black;
}

.swap:active {
    background-color: rgba(0, 0, 0, 0.250);
}

.stringSelect {
    position: absolute;
    width: 100%;
    margin: 0px;
    top: 50px;
    font-size: 18px;
}

.stringConvert {
    position: absolute;
    width: 100%;
    margin: 0px;
    bottom: 35px;
    font-size: 18px;
}

@media (max-width: 1024px) {
    .select, .calculate {
        width: 90%;
    }
    
    .list1, .list2 {
        display: block;
        width: 70%;
        margin: 30px auto;
    }
    
    .input1, .input2 {
        display: block;
        width: 60%;
        margin: 40px auto;
    }

    .stringSelect {
        top: 45px;
    }
    
    .stringConvert {
        bottom: 15px;
    }

    .convert_page .icon {
        font-size: 18px;
    }

}

@media (max-width: 425px) {
    .convert_page h2 {
        margin-top: 10px;
    }

    .select, .calculate {
        margin: 15px auto;
    }

    .calculate {
        margin-top: 30px;
    }

    .convert_page .icon {
        display: none;
    }
}

/* List page*/
.search {
    font-size: 22px;
    text-align: center;
    border: none;
    background-color: transparent;
    font-family: 'Antic';
    margin-bottom: 5px;
}

.search:focus {
    outline-width: 0;
}

.rates {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 15px;
    justify-items: center;
    width: 100%;
    padding: 0px 80px;
}

@media (max-width: 425px) {
    .list_page h2 {
        margin-top: 15px;
    }

    .rates {
        padding: 0px;
    }
}

.currency_rates {
    width: 200px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.180);
    border-radius: 3px;
}

.currency, .rate {
    display: inline-block;
    width: 50%;
    padding: 10px;
}
.currency {
    background-color: rgba(0, 0, 0, 0.115);
    margin: 0px;
}

.rate {
    margin: 0px;
}

.stringList {
    font-size: 18px;
}

/* Spinners */
.spinner {
    display: none;
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #0782c8;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.spinner.one, .spinner.zero {
    position: absolute;
    width: 100%;
    margin: 0px auto;
}

.spinner.zero {
    top: 50px;
}

.spinner.one {
    bottom: 60px;
}

@media (max-width: 1024px) {
    .spinner.one {
        bottom: 40px;
    }
}

.spinner.one > div, .spinner.zero > div {
    width: 10px;
    height: 10px;
    animation-duration: 0.6s;

}

.spinner.one .bounce1, .spinner.zero .bounce1 {
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}

.spinner.one .bounce2, .spinner.zero .bounce2 {
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* Scroll to top button */
#toTop {
    display: none;
    position: fixed;
    margin: 0px;
    bottom: 25px;
    right: 15px;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    border: none;
    outline: none;
}

#toTop:link, #toTop:visited {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.115);
    color: #0782c8;
}

#toTop:hover {
    color: black;
}

#toTop:active {
    background-color: rgba(0, 0, 0, 0.250);
}