* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0px;
    padding: 58px 0px 0px;
    font-family: 'Antic';
    width: 100%;
}

@media (max-width: 425px) {
    body {
        padding-top: 64px;
    }
}

a {
    -webkit-tap-highlight-color: transparent;
}

/* Navigation */
.nav {
    display: inline-block;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    background-color: #0782c8;
    overflow: hidden;
    z-index: 1;
    transition: box-shadow 0.2s;
}

.nav.shadow {
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.201);
}

.nav a {
    display: inline-block;
    float: left;
    font-size: 18px;
    padding: 17px 15px 17px 10px;
    text-align: center;
}

.nav a:link, .nav a:visited {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    background-color: rgba(0, 0, 0, 0.16);
}

.nav a.active {
    background-color: white;
    color: grey;
}

.nav a.active:hover {
    background-color: white;
}

.nav a .icon {
    vertical-align: bottom;
}

@media (max-width: 425px) {
    .nav a {
        width: 33.3%;
        padding: 9px 0px;
    }

    .nav a .icon {
        display: block;
    }

    .nav a:hover, .nav a:active {
        background-color: inherit;
    }
}

/* timestamp */
.timestamp {
    position: fixed;
    top: 18px;
    right: 10px;
    color: white;
    z-index: 2;
}

@media (max-width: 500px) {
    .timestamp {
        position: absolute;
        top: 68px;
        right: 8px;
        color: grey;
        z-index: 0;
    }
}

/* Pages */
.page {
    display: none;
    padding: 25px;
    text-align: center;
}

/* Homepage */
.link {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin: 30px 5%;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.180);
    border-radius: 3px;
    transition: border 0.2s;
    overflow: hidden;
}

.link:nth-child(1) {
    margin-left: 0px;
}

.link:nth-child(2) {
    margin-right: 0px;
}

.link .icon {
    font-size: 80px;
    color: #0782c8;
}

.description {
    font-size: 17px;
}

.link:link, .link:visited {
    text-decoration: none;
    color: black;
}

.link:hover {
    border-color: rgba(0, 0, 0, 0.400);
}


@media (max-width: 1024px) {
    .link {
        width: 70%;
        margin: 20px auto;
    }
}

@media (max-width: 425px) {
    .link {
        width: 90%;
        margin: 15px auto;
        padding: 25px 30px 30px;
        position: relative;
    }
    
    .link h2 {
        margin: 0px 0px 10px;
        text-align: left;
        padding-left: 45%;
    }

    .link .icon {
        position: absolute;
        font-size: 85px;
        top: 30%;
        left: 7%;
    }

    .link:first-child .icon {
        font-size: 83px;
    }

    .description {
        float: right;
        width: 55%;
        margin: 0px 0px;
        text-align: left;
    }
}

/* Convert page */
.convert_page h2 {
    margin-top: 0px;
}

.convert_page h3 {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 6px 0px;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.115);
    border-radius: 2px 2px 0px 0px;
}

.convert_page .icon {
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 20px;
    color: grey;
}

.select_window, .convert_window {
    position: relative;
    text-align: center;
    width: 80%;
    margin: 25px auto;
    padding: 40px 0px 0px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.180);
    border-radius: 3px;
}

.convert_window {
    margin-top: 50px;
    padding-bottom: 30px;
}

.input1, .input2, .select1, .select2 {
    font-size: 20px;
    font-family: 'Antic';
    margin: 60px 50px;
    padding: 5px 0px;
    border: 1px solid rgba(0, 0, 0, 0.180);
    border-radius: 5px;
}

.input1, .input2 {
    text-align: right;
    padding-right: 10px;
    width: 20%;
}

.select1, .select2 {
    width: 25%;
    background-color: white;
}

option {
    background-color: white;
}

.swap {
    display: inline-block;
    font-size: 24px;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    transition: background-color 0.2s;
}

.swap:link, .swap:visited {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.115);
    color: #0782c8;
}

.swap:active {
    background-color: rgba(0, 0, 0, 0.250);
}

@media (max-width: 425px) {
    .swap {
        width: 35px;
        height: 35px;
    }
}

.stringSelect {
    position: absolute;
    width: 100%;
    margin: 0px;
    top: 50px;
    font-size: 18px;
}

.stringConvert {
    position: absolute;
    width: 100%;
    margin: 0px;
    bottom: 35px;
    font-size: 18px;
}

@media (max-width: 1024px) {
    .select_window, .convert_window {
        width: 90%;
    }
    
    .select1, .select2 {
        display: block;
        width: 70%;
        margin: 30px auto;
    }
    
    .input1, .input2 {
        display: block;
        width: 60%;
        margin: 40px auto;
    }

    .stringSelect {
        top: 45px;
    }
    
    .stringConvert {
        bottom: 15px;
    }

    .convert_page .icon {
        font-size: 18px;
    }

}

@media (max-width: 425px) {
    .convert_page h2 {
        margin-top: 10px;
    }

    .select_window, .convert_window {
        margin: 15px auto;
    }

    .convert_window {
        margin-top: 30px;
    }

    .convert_page .icon {
        display: none;
    }
}

/* List page*/
.list_page h2 {
    margin: 0px;
}

@media (max-width: 425px) {
    .list_page h2 {
        margin-top: 10px;
    }
}

/* Search */
.search_bar {
    position: relative;
    width: 100%;
    margin: 10px 0px 5px;
}

.search_bar .icon {
    position: absolute;
    top: 13px;
    margin-left: 15px;
    color: silver;
}

#search {
    width: 150px;
    margin: 0px;
    padding: 12px 45px;
    font-size: 22px;
    text-align: center;
    font-family: 'Antic';
    background-color: white;
    border: none;
    outline-width: 0;
}

.search_bar.active {
    position: fixed;
    top: 75px;
    left: 0;
    z-index: 1;
    margin: 0px;
}

.search_bar.active #search {
    width: 250px;
    padding: 12px 45px;
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.201);
}

.search_bar.active .icon {
    margin-left: 15px;
}


@media (max-width: 425px) {
    .search_bar.active {
        top: 64px;
        background-color: white;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.201);
    }

    .search_bar.active #search {
        box-shadow: none;
    }
}

/* Rates */
.rates {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 45px;
    justify-items: center;
    width: 100%;
    padding: 0px 160px;
}

@media (max-width: 1024px) {
    .rates {
        padding: 0px 80px;
    }
}

@media (max-width: 425px) {
    .rates {
        padding: 0px;
        grid-gap: 25px;
    }
}

.currency_rates {
    width: 200px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.180);
    border-radius: 3px;
}

.currency, .rate {
    display: inline-block;
    width: 50%;
    padding: 10px;
}

.currency {
    background-color: rgba(0, 0, 0, 0.115);
    margin: 0px;
}

.rate {
    margin: 0px;
}

.stringList {
    font-size: 18px;
}

/* Spinners */
.spinner {
    display: none;
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #0782c8;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.spinner.one, .spinner.zero {
    position: absolute;
    width: 100%;
    margin: 0px auto;
}

.spinner.zero {
    top: 50px;
}

.spinner.one {
    bottom: 60px;
}

@media (max-width: 1024px) {
    .spinner.one {
        bottom: 40px;
    }
}

.spinner.one > div, .spinner.zero > div {
    width: 10px;
    height: 10px;
    animation-duration: 0.6s;

}

.spinner.one .bounce1, .spinner.zero .bounce1 {
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}

.spinner.one .bounce2, .spinner.zero .bounce2 {
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* Scroll to top button */
#toTop {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    margin: 0px;
    padding: 10px;
    border: none;
    border-radius: 100%;
    outline: none;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.201);
    transition: background-color 0.2s;
}

#toTop:link, #toTop:visited {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.115);
    background-color: #0782c8;
    color: white;
}

#toTop:active {
    background-color: #075a8a;

}

@media (max-width: 425px) {
    #toTop {
        font-size: 26px;
        right: 15px;
    }
}